<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route url="/" module="Afficher" action="home"/>
    <route url="/Logout" module="Connexion" action="logout"/>


    <route url="/clients" module="Afficher" action="clients"/>
        <route url="/addclients" module="Administrer" action="addClient"/>
         <route url="/deleteClient/([0-9]+)" module="Afficher" vars="id" action="deleteclient"/>
     <route url="/editClient/([0-9]+)" module="Administrer" vars="id" action="editClient"/>
          <route url="/editClient/([0-9]+)" module="Administrer" vars="id" action="editClient"/>


    <route url="/services" module="Afficher" action="services"/>
     <route url="/addservices" module="Administrer" action="addService"/>
     <route url="/dashboard" module="Afficher" action="panel"/>





    <route url="/Profile" module="Connexion" action ="Profile"/>
    <route url="/CheckPassword" module="Connexion" action="CheckPassword"/>
    <route url="/NewPassword" module="Connexion" action="NewPassword"/>
    <route url="/ValidPassword" module="Connexion" action="ValidPassword"/>
    <route url="/Pannel" module="Connexion" action="Pannel"/>
    <route url="/addUsers" module="Connexion" action="addUsers"/>
    <route url="/deleteUsers/([0-9]+)" module="Connexion" vars="id" action="deleteusers"/>
    <route url="/editUsers/([0-9]+)" module="Connexion" vars="id" action="editUsers"/>
    <route url="/updateUsers" module="Connexion" action="updateUsers"/>

</routes>